body {
  font: 15px/1.5 Arial;
padding: 0;
margin: 0;
background-color: #dfe3ee
}
/*global */
.container{
width:80%;
margin: auto;
overflow: hidden;
}
ul{
  margin: 0;
  padding: 0;
}
/*header*/
header {
background: #8b9dc3;
color:#ffffff;
padding: 30px;
min-height:70px;
border-bottom: #151a60 1px solid;
}
header a{
  color: #ffffff;
  text-decoration:none;
  text-transform: uppercase;
font-size: 14px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}
header #branding {
  float: left;
}
header #branding h1{
  margin: 0;
}
header nav{
  float: right;
  margin-top: 10px;
}
#showcase{
min-height: 250px;
background: url('../images/titulbilde.png') no-repeat 0 -100px;
text-align: center;
color: #ffffff;
}
#showcase h1{
    font-size: 30px;
  }
  #Newsletter{padding: 10px;
    color: #ffffff;
    background: #35424a
  }
  #Newsletter h1{
    float: left;
  }
  #Newsletter form{
    float: right;
    margin-top: 15px;
  }
#boxes{
  margin-top: 20px;
  }
  #boxes .box{
    float:right;
    width: 20%;
    padding: 5px;
       }
#boxes .box images{
  width: 90px;
}
